@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

img:hover{
    cursor: pointer;
}

.flex-input{
    display: flex;
    width: 90%;
    margin: 20px auto;
    flex-direction: column;
}

input{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: none;
    color: hsl(0, 0%, 52%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}

select{
    width: 40%;
    padding: 10px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px
}

.card:hover{
    cursor: pointer;
}

.flex-flags{
    display: flex;
    flex-direction: column;
}

.flex-flags div{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(19, 19, 19, 0.2) 0px 2px 8px 0px;
}

span{
    font-weight: 600;
}

div img{
    width: 100%;
}

h1{
    font-size: 1.2rem;
}

h2, p{
    margin-left: 20px;
}

#dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark-mode img{
    width: 1rem;
    margin-right: 5px ;
}

#dark-mode:hover{
    cursor: pointer;
}

@media (min-width: 768px){

    .flex-input{
        width: 95%;
        margin: 20px auto;
        flex-direction: row;
        justify-content: space-between;
    }
    
    input{
        width: 50%;
        margin: 0;
    }

    select{
        width: 30%;
    }

    .flex-flags{
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    h1{
        font-size: 1.5rem;
    }

    .flex-flags div{
        width: 28%;
    }
}

@media (min-width: 1024px){
    select{
        width: 15%;
    }

    .flex-flags div{
        width: 21%;
    }
}