@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{ box-sizing: border-box;}

body{
    margin: 0;
    /*background-color: hsl(0, 0%, 98%);*/
    font-family: 'Nunito Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: sticky;
    top: 0;
}

img:hover{ cursor: pointer;}

h1{ font-size: 1.2rem;}

#dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark-mode img{
    width: 1rem;
    margin-right: 5px ;
}

#dark-mode:hover{ cursor: pointer;}

@media (min-width: 768px){

    h1{ font-size: 1.5rem;}
}