main{
    width: 90%;
    margin: 20px auto;
}

main img{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
}

span{
    font-weight: 600;
}

p{
    font-size: 1.1rem;
}

button{
    box-shadow: rgba(19, 19, 19, 0.2) 0px 2px 8px 0px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}


.flex-borders{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.flex-borders div{
    padding: 3px;
    box-shadow: rgba(19, 19, 19, 0.2) 0px 2px 8px 0px;
}

@media (min-width: 768px){

    main img{
        display: block;
        width: 40%;
    }
}

@media (min-width: 1024px){
    main img{
        width: 50%;
    }

    section{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-informacion{
        display: flex;
    }
}